<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#httpServletRequest.getContextPath()+'/'}">
    <meta charset="UTF-8">
    <title>Stripe 支付</title>
</head>
<body>
<form action="#" method="post">

    <br>
    <button type="button" onclick="pay()">登录</button>

</form>
</body>

<script src="https://js.stripe.com/v3/"></script>
<script src="/jquery-1.11.3.min.js"></script>

<script th:inline="javascript">

    //根据后台生成的checkout_session_id去支付
    var CHECKOUT_SESSION_ID = [[${CHECKOUT_SESSION_ID}]];

    var stripe = Stripe('pk_test_qwSsznDPQSF0mA13NC2hUHyE000gYEo7d1');


    function pay(){
        stripe.redirectToCheckout({
            sessionId: CHECKOUT_SESSION_ID
        }).then(function (result) {
            console.log(result);
        });
    }




</script>


</html>